.galary-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  height: fit-content;
  margin-top: 30px;
  margin-bottom: 30px;
}

.item-img1 {
  margin-bottom: 30px;
}
.item-img3 {
  margin-bottom: 30px;
}

.galary-img {
  width: 100%;
  border-radius: 4px;
  transition: transform 500ms ease;
}
.galary-img:hover {
  transform: scale(1.05);
}