.br {
  white-space: pre;
  margin-top: 10px;
}

.container-comments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-top: 30px;
}

.comment {
  background-color: #ffa57761;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px -2px 19px 0px #ff5722ab;
    border-radius: 10px;
}
.commeny-icon {
  font-size: 6vh;
  color: #D55448;
}
.user-name {
  margin-top: 10px;
  color: #D55448;
}
.comment-poem {
  border-bottom: 1px solid #d55448;
    font-size: 15px;
}
.comment-bac-col {
  background-color: #f3f3f3;
  height: 90vh;
 
}